html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: black;
}

.container {
  float: left;
}

#globe {
  cursor: move;
  width: 50%;
}

.info {
  width: auto;
  height: auto;
  /* position: relative; TODO: May have to add this to box (parent container)*/
  position: absolute;
  bottom: 0;
}

#box {
  width: 49vw;
  height: 100vh;
  background-color: white;
}

#current {
  position: absolute;
  color: black;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

#selected1 {
  position: absolute;
  color: black;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 8%;
}

#selected2 {
  position: absolute;
  color: black;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 12%;
}

#my_dataviz {
  color: black;
}