html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: black;
}

.container {
  float: left;
}

#globe {
  cursor: move;
  width: 50vw;
}

.info {
  width: auto;
  height: auto;
  /* position: relative; TODO: May have to add this to box (parent container)*/
  /* position: absolute; */
  /* bottom: 0; */
}

#box {
  width: 45vw;
  height: calc(92vh);
  background-color: white;
  padding: 2%;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

#selected1 {
  color: black;
  font-family: sans-serif;
}

#selected2 {
  color: black;
  font-family: sans-serif;
}

#my_dataviz, #my_dataviz2 {
  color: black;
}

#dataSelect {
  width: 200px;
}